extends ../layout/main

block variables
  - pageTitle = 'Contact'
  - pageHeader = 'Contact'
  - activePage = 'Contact'

block content
  .container
    h1.title-1=pageHeader
    include ../modules/contact-list
    

