extends ../layout/main

block variables
  - pageTitle = 'Skills'
  - pageHeader = 'Skills'
  - activePage = 'Skills'

block content
  .container
    h1.title-1=pageHeader
    include ../modules/skills-list
    

