extends ../layout/main

include ../modules/project-info

block variables
  - pageTitle = 'Tic-Tac-Toe'
  - activePage = 'Projects'
  - pageHeader = 'Tic-Tac-Toe with AI'
  - const info = {name: 'Tic-Tac-Toe with AI', img: './img/projects/tic-tac-toe.png', stack: 'React, Node.js, MongoDB', repo: 'https://github.com/winerar/tic-tac-toe'}

block content
  .container
    .project-details
      h1.title-1=pageHeader
      +projectInfo(info)