ul.content-list 
  li.content-list__item
    h2.title-2 Location 
    p Yerevan, Armenia 
  li.content-list__item
    h2.title-2 Phone 
    p
      a(href='tel:+37493966384') +374 93 966384
  li.content-list__item
    h2.title-2 Email 
    p 
      a(href='mailto:m.winerar@gmail.com') m.winerar@gmail.com