header.header
  .header__wrapper
    h1.header__title. 
      <strong>Hi, my name is <em>Alexander</em></strong>
      <br>
      I'm a frontend developer
    .header__text 
      p with passion for learning and creating.
    a(href='./files/alexander-karachevtsev-cv-en.pdf' class='btn' download) Download CV