- var pageTitle = "Developer Portfolio"
- var pageHeader = "Projects"
- var activePage = 'Projects'

script.
  module.exports = {
    pageTitle: pageTitle,
    pageHeader: pageHeader,
    activePage: activePage
  }